@model new_project.Models.Project

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.budget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.budget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOfStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOfStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOfFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOfFinish)
        </dd>
    </dl>
</div>
<div>

</div>
